* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  overflow: hidden;
}
body {
  max-width: 100vw;
  height: 100vh;
  background: url("../src/assets/pexels-adonyi-gábor-1414651.jpg");
  background-repeate: no-repeate;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.App .bmi {
  box-shadow: 0px 0px 12px #ccc;
  background-color: rgb(192, 209, 103, 0.5);
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  width: 400px;
}
.App h2 {
  text-align: center;
  font-family: "Merienda", cursive;
}
.App h3 {
  text-align: center;
}
.App form {
  padding: 5px 0px;
}
.App button {
  width: 60%;
  height: 40px;
  background-color: #ea8504;
  color: #ffff;
  cursor: pointer;
  margin-top: 0.3rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.App .btns {
  margin-top: 1rem;
}
.App .reset {
  background-color: #40700d;
}
.App .reset:hover {
  font-size: bold;
}
.App .result {
  text-align: center;
}
.App .img-result img {
  height: 150px;
}
input {
  width: 100%;
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 0.8rem;
  border-radius: 4px;
  background-color: rgb(116, 107, 92, 0.7);
}
@media (max-width: 400px) {
  .App .bmi {
    width: 300px;
  }
}
